* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote,
hr {
  width: 700px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}
p,
blockquote,
ul,
ol {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 30px;
}
h1 {
  margin: 50 auto;
  font-size: 38px;
}
h2 {
  margin: 40 auto;
  font-size: 32px;
  line-height: 38px;
}
h3 {
  margin: 36 auto;
  font-size: 28px;
  line-height: 32px;
}
h4 {
  margin: 32 auto;
  font-size: 24px;
  line-height: 28px;
}
img,
hr {
  width: 1024px;
  margin: 30px auto;
  display: block;
}
hr {
  border-bottom: none;
}
